body{
  background-color: black;
}
@font-face {
  font-family: "SpaceTimeRegular";
  src: url(./SpaceTimeRegular.ttf);
}
#Change{
  font-family: "SpaceTimeRegular", sans-serif;
}
@font-face {
  font-family: "Spacetime";
  src: url(./Spacetime.ttf);
}
.clock{
  font-family: "Spaceime ";
  position: relative;
  text-align: center;
  color: green;
  font-size: clamp(4px, 20vw, 180px);
}
.form{
  font-family: "Spacetime";
  position: relative;
  text-align: center;
  color: green;
  font-size: clamp(4px, 20vw, 120px);
}

input{
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   font-size: clamp(3px, 8vw, 30px);
   text-align: center;
   max-width: 20%;
   margin: auto;
   width: 70px;
   max-height: 20%;
   height: 27px;
}
.separated{
  font-size: 50px !important;
}

#Change{
  font-size: clamp(1px, 8vw, 40px);
  max-width: 200px;
  max-width: 300px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  cursor: pointer;
  border: 2px solid green;
  color: green;
  border-radius: 10px;
  position: relative;
  margin: 5% 35%;
  overflow: hidden;
  transition: color 0.7s ease;
}
#Change:hover{
  color: aliceblue;
}
#Change::before{
  background-color: green;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  transition: all 0.7s ease;
  width: 120%;
  height: 120%;
  transform: translate(-50%, -50%) rotate(10deg) scaleY(0);
}
#Change:hover::before{
  transform: translate(-50%, -50%) rotate(10deg) scaleY(2);
}

#Start{
  font-size: clamp(1px, 8vw, 40px);
  max-width: 200px;
  max-width: 300px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  cursor: pointer;
  border: 2px solid blue;
  color: blue;
  border-radius: 10px;
  position: relative;
  margin:   5% 35%;
  overflow: hidden;
  transition: color 0.7s ease;
}
#Start:hover{
  color: aliceblue;
}
#Start::before{
  background-color: blue;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  transition: all 0.7s ease;
  width: 120%;
  height: 120%;
  transform: translate(-50%, -50%) rotate(10deg) scaleY(0);
}
#Start:hover::before{
  transform: translate(-50%, -50%) rotate(10deg) scaleY(2);
}


#Stop{
  font-size: clamp(1px, 8vw, 40px);
  max-width: 200px;
  max-width: 300px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  cursor: pointer;
  border: 2px solid red;
  color: red;
  border-radius: 10px;
  position: relative;
  margin: 5% 35%;
  overflow: hidden;
  transition: color 0.7s ease;
}
#Stop:hover{
  color: aliceblue;
}
#Stop::before{
  background-color: red;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  transition: all 0.7s ease;
  width: 120%;
  height: 120%;
  transform: translate(-50%, -50%) rotate(10deg) scaleY(0);
}
#Stop:hover::before{
  transform: translate(-50%, -50%) rotate(10deg) scaleY(2);
}